main {
    margin-top: 60px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.bold {
    font-weight: bold;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.explore-panel {
    background-color: whitesmoke;
    width: 40%;
    height: 500px;
    border-radius: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: #AFAFAF;
}

img {
    border-radius: 1024px;
}

footer {
    margin-bottom: 0px !important;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-container p, .footer-container span {
    color: whitesmoke;
}