<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biomedical Graph Visualizer</title>

    <!-- links to stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/tool1.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- scripts for bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- container of elements in the navbar -->
        <div class="container-fluid">
            <!-- bold text on the left side -->
            <div class="navbar-header">
                <!-- toggle button that appears on small screens -->
                <button type="button" class="navbar-toggle navbar-inverse" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar navbar-inverse"></span>
                    <span class="icon-bar navbar-inverse"></span>
                    <span class="icon-bar navbar-inverse"></span>
                </button>
                <a class="navbar-brand" href="#">Biomedical Graph Visualizer</a>
            </div>

            <!-- Collapse if screen is too small -->
            <div class="collapse navbar-collapse" id="myNavbar">

                <!-- elements on the right side of the bar -->
                <ul class="nav navbar-nav" id="navElements">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/tool1">Subgraph Tool</a></li>
                    <li><a href="/tool2">Similarity Tool</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <label>Starting Node:<br><input type="text" id="starting_node"></label>
            </div>
            <div class="col-md-5">
                <label>Ending Node:<br><input type="text" id="ending_node"></label>
            </div>
            <div class="col-md-1">
                <label>Maximum Hops:<br><input type="text" id="hops"></label>
            </div>
            <div class="col-md-1">
                <br>
                <input type="button" id="submit" value="Search!">
            </div>
        </div>
    </div>
    <div>
        <svg id="landing_page_viz"></svg>
    </div>
    <div class="results-panel">
        <h1>Results:</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Starting Node</th>
                    <th>Ending Node</th>
                    <th>Ending Node Type</th>
                    <th>Path Length</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer class="navbar navbar-inverse footer-container">
    <div style="flex-grow: 1">
        <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target="_blank">Wikidata</a>
    </div>
    <div style="flex-grow: 20; color: white">
        <p>License: XXXX</p>
    </div>
    <div style="flex-grow: 1">
        <a href="/"><span class="fa fa-facebook"></span></a>
        <a href="/"><span class="fa fa-github"></span></a>
        <a href="/"><span class="fa fa-twitter"></span></a>
        <a href="/"><span class="fa fa-instagram"></span></a>
    </div>
</footer>

<script>

    d3.json("static/example_network.json", function (data) {

        const width = window.innerWidth;
        const height = 500;
        const svg = d3.select('#landing_page_viz')
            .attr('width', width)
            .attr('height', height);

        function getNodeColor(node) {
            return node.level === 1 ? 'red' : 'gray'
        }

        const nodeElements = svg.append('g')
            .selectAll('circle')
            .data(data.nodes)
            .enter().append('circle')
            .attr('r', 20)
            .attr('fill', getNodeColor);

        const textElements = svg.append('g')
            .selectAll('text')
            .data(data.nodes)
            .enter().append('text')
            .text(node => node.label)
            .attr('font-size', 15)
            .attr('dx', 15)
            .attr('dy', 4)
            .attr('fill', "#AFAFAF");

        const linkElements = svg.append('g')
            .selectAll('line')
            .data(data.links)
            .enter().append('line')
            .attr('stroke-width', 1)
            .attr('stroke', '#E5E5E5');

        const simulation = d3.forceSimulation(data.nodes)
            .force('charge', d3.forceManyBody().strength(-400))
            .force('center', d3.forceCenter(width / 2, height / 2))
            .force('link', d3.forceLink()
                .id(link => link.id)
                .strength(link => link.strength)
                .links(data.links));

        simulation.nodes(data.nodes).on('tick', () => {
            nodeElements
                .attr('cx', node => node.x)
                .attr('cy', node => node.y);
            textElements
                .attr('x', node => node.x)
                .attr('y', node => node.y);
            linkElements
                .attr('x1', link => link.source.x)
                .attr('y1', link => link.source.y)
                .attr('x2', link => link.target.x)
                .attr('y2', link => link.target.y)
        });

        const dragDrop = d3.drag()
            .on('start', node => {
                node.fx = node.x;
                node.fy = node.y;
            })
            .on('drag', node => {
                simulation.alphaTarget(0.7).restart();
                node.fx = d3.event.x;
                node.fy = d3.event.y;
            })
            .on('end', node => {
                if (!d3.event.active) {
                    simulation.alphaTarget(0);
                }
                node.fx = null;
                node.fy = null;
            });

        nodeElements.call(dragDrop);

    });


</script>

</body>
</html>