.gs-button {
    cursor: pointer
}

.gs-table-head {
    background-color: rgb(40, 96, 144);
}

.gs-table, th, td {
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: red;
}