{% extends 'base.html' %}

{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Biomedical Graph Visualizer</h1>
      <p class="lead font-weight-normal">An interactive interface for exploring a biomedical knowledge graph with concepts such as drugs, proteins, genes, and diseases. Powered by <a href="wikidata.org">Wikidata</a>.</p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Biomedical Subgraph Visualizer</h2>
      <p class="lead">Explore subgraphs surrounding concept nodes.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Biomedical Similarity Visualizer</h2>
      <p class="lead">Find similar concepts based on knowledge graph embeddings.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h1 class="display-5">Authors</h1>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-1 pt-md-5 px-md-2 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Derek Jow</h2>
      <p class="lead">Wikidata data mining, website</p>
    </div>
    <div class="figure">
        <img src="static/images/derek.png" class="figure-img img-fluid rounded" width="256" height="256" title="Derek Jow">
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-1 pt-md-5 px-md-2 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Blanca Villanueva</h2>
      <p class="lead">Similarity Tool</p>
    </div>
    <div class="figure">
        <img src="static/images/blanca.png" class="figure-img img-fluid rounded" width="256" height="256" title="Blanca Villanueva">
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-1 pt-md-5 px-md-2 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Ashton Teng</h2>
      <p class="lead">Graph library, Subgraph Tool, website</p>
    </div>
    <div class="figure">
        <img src="static/images/ashton.png" class="figure-img img-fluid rounded" width="256" height="256" title="Ashton Teng">
    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-1 pt-md-5 px-md-2 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Mars Huang</h2>
      <p class="lead">Similarity Tool</p>
    </div>
    <div class="figure">
        <img src="static/images/mars.png" class="figure-img img-fluid rounded" width="256" height="256" title="Mars Huang">
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden col-8">
    <div class="my-3 p-3">
      <h2 class="display-5 text-center">Abstract</h2>
      <p class="lead">Millions of Americans suffer from illnesses with non-existent or ineffective drug treatment. Identifying plausible
            drug candidates is a major barrier to drug development due to the large amount of time and resources required;
            approval can take years when people are suffering now. Though computational tools can expedite drug candidate
            discovery, utilizing these tools typically requires programming expertise that many biologists lack. This problem
            persists due to an ever increasing growth of new biomedical data that is difficult to integrate and maintain, and
            such tools very seldom provide a non-programming interface for researchers to query. This creates an opportunity for
            a suite of user-friendly software tools to aid computational discovery of new treatments using existing drugs,
            eliminating the need for researchers to acquire computational expertise in integrating multiple databases and
            performing algorithmic analysis. Our team has unique biomedical knowledge and software development expertise through
            our affiliation with the Stanford School of Medicine and Department of Computer Science. Specifically, our aims are
            to: </p>
            <ul class="lead">
            <li>
            build a computational knowledge graph focused on drug, genes, proteins and diseases (the components relevant
            to identifying drug targets) with information from existing biomedical databases
            </li>
            <li>
            build a web interface on top of
            our knowledge graph that lists the connections between a specific drug, gene, or protein to all related drug, genes,
            proteins and diseases in the network (e.g., the tool would list drugs relevant to breast cancer when given the
            source disease ‘breast cancer’ and target node type ‘drug’)
            </li>
            <li>
            build a web interface on top of our knowledge graph
            that when given a specific drug, gene, or protein, identifies similar drug, genes, proteins and diseases to suggest
            candidates for drug targets
            </li>
            <li>
            evaluate utility to biomedical researchers by asking them to use the two tools to query drug discovery related drug, genes, proteins and diseases, and surveying them on content
            usefulness and tool ease of use.
            </li>
            </ul>
            <p class="lead">The completion of this project will allow researchers direct access to
            comprehensive biomedical data through intuitive software that aids in decision making with regards to identifying
                drug candidates to provide faster, more efficacious treatment to all Americans.</p>

    </div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden col-4">
    <div class="my-3 py-3">
      <h2 class="display-5 text-center">Advisors</h2>
        <p>Our advisors and collaborators include Sam Piekos, Dan Sosa, Russ Altman, Jaap Suermondt, Erika
            Strandberg, and Larry Kalesinskas. We thank them for project inspiration and advice.</p>
    </div>

    <div class="my-3 py-3">
      <h2 class="display-5 text-center">Citation</h2>
        <p>If you use Biomedical Graph Visualizer in your work, please cite this paper: </p>
        <a href="/" target="_blank" class="text-white">Biomedical Graph Visualizer for Identifying Drug Candidates</a>
        <p><em>Citation here....</em></p>
    </div>
  </div>
</div>

{% endblock %}