<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biomedical Graph Visualizer</title>

    <!-- links to stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/tool1.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- scripts for bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Autocomplete-->
    <script  type="text/javascript" src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Table scripts -->
    <script src="/static/js/table-sortable.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/table-sortable.css"/>


</head>
<body onload="init();">
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- container of elements in the navbar -->
        <div class="container-fluid">
            <!-- bold text on the left side -->
            <div class="navbar-header">
                <!-- toggle button that appears on small screens -->
                <button type="button" class="navbar-toggle navbar-inverse" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar navbar-inverse"></span>
                    <span class="icon-bar navbar-inverse"></span>
                    <span class="icon-bar navbar-inverse"></span>
                </button>
                <a class="navbar-brand" href="#">Biomedical Graph Visualizer</a>
            </div>

            <!-- Collapse if screen is too small -->
            <div class="collapse navbar-collapse" id="myNavbar">

                <!-- elements on the right side of the bar -->
                <ul class="nav navbar-nav" id="navElements">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/tool1">Subgraph Tool</a></li>
                    <li><a href="/tool2">Similarity Tool</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div id = "alert-invalid" class="alert alert-warning alert-dismissible hide">
        <strong>Warning!</strong> Target node is invalid! Please use autocomplete.
        <button type="button" class="close" onclick="$('#alert-invalid').addClass('hide');">&times;</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <label>Starting Node:<br><input type="text" id="starting_node" placeholder="Metformin..." class="typeahead tt-query" spellcheck="false"></label>
            </div>
            <div class="col-md-4">
                <label>Ending Node:<br>
                    <select id="ending_node">
                        <option value="Drug">Drug</option>
                        <option value="Chemical Compound">Chemical Compound</option>
                        <option value="Gene">Gene</option>
                        <option value="Protein">Protein</option>
                        <option value="Diseases">Disease</option>
                        <option value="Symptom">Symptom</option>
                        <option value="Molecular Function">Molecular Function</option>
                        <option value="Biological Process">Biological Process</option>
                        <option value="Medical Specialty">Medical Specialty</option>
                        <option value="ICD10">ICD10</option>
                        <option value="Protein Family">Protein Family</option>
                        <option value="Protein Superfamily">Protein Superfamily</option>
                        <option value="Protein Domain">Protein Domain</option>
                        <option value="Gene Ontology ID">Gene Ontology ID</option>
                        <option value="Chromosome">Chromosome</option>
                        <option value="Drug Function">Drug Function</option>
                        <option value="Pharmaceutical Product">Pharmaceutical Product</option>
                        <option value="Symptom Cause">Symptom Cause</option>
                        <option value="health specialty">health specialty</option>
                    </select>
                </label>
            </div>
            <div class="col-md-1">
                <label>Hops:<br>
                    <select id="hops">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </label>
            </div>
            <div class="col-md-1">
                <br>
                <input type="button" id="submit" value="Search!" onclick="onSearch()">
            </div>
            <div class="col-md-1">
                <br>
                <input type="button" id="demo" value="Choose for me!" onclick="onDemoClick()">
            </div>
        </div>
    </div>
    <div id="network_viz"></div>
    <div id ="filters">
        <label><input type="checkbox" id="toggle_node_labels" onclick="showNodeLabels()" checked> Show Node Labels</label>
        <label><input type="checkbox" id="toggle_edge_labels" onclick="showEdgeLabels()" checked> Show Edge Labels</label>
    </div>
    <h3>Legend</h3>
    <div id="legend"></div>
    <div class="results-panel">
        <h1>Results:</h1>
        <input type="text" placeholder="Search in table..." id="searchField">
        <div id="table-sortable"></div>
    </div>
</main>
<footer class="navbar navbar-inverse footer-container">
    <div style="flex-grow: 1">
        <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target="_blank">Wikidata</a>
    </div>
    <div style="flex-grow: 20; color: white">
        <p>License: XXXX</p>
    </div>
    <div style="flex-grow: 1">
        <a href="/"><span class="fa fa-facebook"></span></a>
        <a href="/"><span class="fa fa-github"></span></a>
        <a href="/"><span class="fa fa-twitter"></span></a>
        <a href="/"><span class="fa fa-instagram"></span></a>
    </div>
</footer>

<script>

    function httpRequest(url, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                callback(xmlHttp.response);
            }
        }
        xmlHttp.open("GET", url, true);
        xmlHttp.responseType = 'json';
        xmlHttp.send(null);
    }

    let instance_node_dict;
    let concept_node_dict;
    let concept_node_dict_inverse;
    let table;

    function init() {

        // graph you see when you visit the page
        initialGraph("Q3025883", "Q8386", 2);

        // initialize table
        let columns = {
            "startingNode": "Starting Node",
            "endingNode": "Ending Node",
            "nodeType": "Node Type",
            "pathLength": "Path Length",
            "id": "QID"
        };

        table = $('#table-sortable').tableSortable({
            columns: columns,
            rowsPerPage: 10,
            pagination: true,
            searchField: $("#searchField")
        });

        httpRequest("static/autocomplete/all_concept_names_ids.json", function (data) {
            concept_node_dict = data;
            concept_node_dict_inverse = {};
            for (let key in data) {
                concept_node_dict_inverse[data[key]] = key;
            }

            httpRequest("static/autocomplete/all_node_names_ids.json", function (data) {
                instance_node_dict = {};
                let autocomplete_names = [];
                for (let key in data) {
                    instance_node_dict[key] = data[key][0];
                    let domain = concept_node_dict_inverse[data[key][1]];
                    let obj = {
                        name: key,
                        domain: domain
                    };
                    autocomplete_names.push(obj);
                }
                let bhound = new Bloodhound({
                    datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.name); },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: autocomplete_names
                });

                $('#starting_node').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'nodes',
                        source: bhound,
                        display: function(item) {return item.name},
                        templates: {
                            suggestion: function(item) {
                                return `<div>${item.name} <span style="color: ${getNodeColor(item.domain)}">(${item.domain})</span></div>`;
                            }
                        }
                    }
                );

            });

            loadLegend();

        });

    }

    function loadLegend() {
        const width = window.innerWidth;
        const height = 100;

        let svg = d3.select("#legend")
            .append("svg")
            .attr("width", width)
            .attr("height", height);

        let nodes = Object.keys(concept_node_dict);
        let chunk_size = width / nodes.length * 2;

        for (let i = 0; i < nodes.length; i++) {
            let x = i * chunk_size;
            let y = 10;
            if (i >= nodes.length / 2) {
                y = 30;
                x = (i - nodes.length / 2) * chunk_size;
            }
            svg.append("circle")
                .attr("r", 10)
                .attr("fill", getNodeColor(nodes[i]))
                .attr("opacity", 0.8)
                .attr("cx", x + 10)
                .attr("cy", y);
            svg.append("text")
                .text(nodes[i])
                .attr('font-size', 10)
                .attr('dx', x + 20)
                .attr('dy', y + 5)
                .attr('fill', getNodeColor(nodes[i]))
                .attr('opacity', 1);
        }

    }

    let node_label_opacity = 1;
    let edge_label_opacity = 1;

    function showNodeLabels() {
        if (document.getElementById("toggle_node_labels").checked) {
            node_label_opacity = 1;
        } else {
            node_label_opacity = 0;
        }

        if (textElements) {
            textElements.attr("opacity", node_label_opacity);
        }
    }

    function showEdgeLabels() {
        if(document.getElementById("toggle_edge_labels").checked) {
            edge_label_opacity = 1;
        } else {
            edge_label_opacity = 0;
        }

        if (linkLabels) {
            linkLabels.attr("opacity", edge_label_opacity);
        }
    }

    function onDemoClick() {
        let test_examples = [
            ["Insulin", "Diseases", "3"],
            ["breast cancer", "Drug", "1"],
            ["metformin", "Protein", "3"],
            ["pancreatic cancer", "Gene", "1"],
            ["aspirin", "Chromosome", "4"]
        ];
        let index = Math.random() * 100;
        if (index < 20) {
            index = 0;
        } else if (index < 40) {
            index = 1;
        } else if (index < 60) {
            index = 2;
        } else if (index < 80) {
            index = 3;
        } else {
            index = 4;
        }

        document.getElementById("starting_node").value = test_examples[index][0];
        end = document.getElementById("ending_node").value = test_examples[index][1];
        hops = document.getElementById("hops").value = test_examples[index][2];
        onSearch();
    }

    function onSearch() {
        let start = document.getElementById("starting_node").value;

        if (!(start in instance_node_dict)) {
            $('#alert-invalid').removeClass('hide');
            return;
        }

        if (start.indexOf("(") != -1) {
            start = start.substring(0, start.indexOf("(")).trim();
        }

        let end = document.getElementById("ending_node").value;
        let hops = document.getElementById("hops").value;
        if (start) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/tool1/search', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    let response = JSON.parse(xhr.response);
                    let results = response["results"];
                    drawGraph(response["graph"]);
                    updateTable(results);
                }
            }
            let params = "starting_node=" + instance_node_dict[start];
            if (end) {
                params += "&ending_node=" + concept_node_dict[end];
            }
            if (hops) {
                params += "&hops=" + hops;
            }
            xhr.send(params);
        }
    }

    function initialGraph(start, end, hops) {
        if (start) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/tool1/search', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    let response = JSON.parse(xhr.response);
                    let results = response["results"];
                    drawGraph(response["graph"]);
                    //updateTable(results);
                }
            }
            let params = "starting_node=" + start;
            if (end) {
                params += "&ending_node=" + end;
            }
            if (hops) {
                params += "&hops=" + hops;
            }
            xhr.send(params);
        }
    }

    let textElements, linkLabels;

    function getNodeColor(domain) {
        switch (domain) {
            case "Drug": return "#33D895";
            case "Chemical Compound": return "#33D842";
            case "Pharmaceutical Product": return "#25F51C";
            case "Drug Function": return "#11C621";

            case "Molecular Function": return "#D54517";
            case "Biological Process": return "#D86827";
            case "Gene Ontology ID": return "#D84527";

            case "Protein": return "#BE27D8";
            case "Protein Family": return "#D8279A";
            case "Protein Superfamily": return "#D827C6";
            case "Protein Domain": return "#D8276E";

            case "Gene": return "#2781D8";
            case "Chromosome": return "#2729D8";

            case "Diseases": return "#D6D827";
            case "Symptom": return "#A3A458";
            case "Symptom Cause": return "#7DA458";
            case "ICD10": return "#A49258";

            case "health specialty": return "#1CF5E1";
            case "Medical Specialty": return "#1CD7F5";
            default: return "#9092B0";
        }
    }

    function drawGraph(data) {
        const width = window.innerWidth;
        const height = 700;

        let el = document.getElementById("network_viz");
        while (el.childElementCount > 0) {
            el.removeChild(el.childNodes[0]);
        }

        const svg = d3.select('#network_viz')
            .append('svg')
            .attr('width', width)
            .attr('height', height);

        function getColor(node) {
            return getNodeColor(node.domain);
        }

        /*
        var mouseover = function (d) {
            d3.select(this).attr("r", 30);
        };

        var mouseleave = function (d) {
            d3.select(this)
                .transition()
                .duration(200)
                .attr("r", 20);
        };*/

        function getSize(node) {
            let weight = 1;
            switch (node.domain) {
                case "Drug": weight = 1; break;
                case "Chemical Compound": weight = 1; break;
                case "Pharmaceutical Product": weight = 1; break;
                case "Drug Function": weight = 1; break;

                case "Molecular Function": weight = 1; break;
                case "Biological Process": weight = 1; break;
                case "Gene Ontology ID": weight = 1; break;

                case "Protein": weight = 1; break;
                case "Protein Family": weight = 0.1; break;
                case "Protein Superfamily": weight = 0.1; break;
                case "Protein Domain": weight = 0.1; break;

                case "Gene": weight = 1; break;
                case "Chromosome": weight = 0.01; break;

                case "Diseases": weight = 0.5; break;
                case "Symptom": weight = 1; break;
                case "Symptom Cause": weight = 1; break;
                case "ICD10": weight = 1; break;

                case "health specialty": weight = 1; break;
                case "Medical Specialty": weight = 1; break;
            }
            if (node.domain == "Chromosome") {
                console.log(node.rank);
                console.log(node.rank * weight * 1000000);
            }
            return Math.min(Math.max(node.rank * weight * 1000000, 6) , 100);
        }

        const nodeElements = svg.append('g')
            .selectAll('circle')
            .data(data.nodes)
            .enter().append('circle')
            .attr('r', getSize)
            .attr('fill', getColor)
            .attr('opacity', 0.8);
            /*.on("mouseover", mouseover)
            .on("mouseleave", mouseleave);*/

        textElements = svg.append('g')
            .selectAll('text')
            .data(data.nodes)
            .enter().append('text')
            .text(node => node.label)
            .attr('font-size', 15)
            .attr('dx', 20)
            .attr('dy', 4)
            .attr('fill', getNodeColor)
            .attr('opacity', node_label_opacity);

        const linkElements = svg.append('g')
            .selectAll('line')
            .data(data.links)
            .enter().append('line')
            .attr('stroke-width', 1)
            .attr('stroke', '#AEB1DD')
            .attr('opacity', 0.5);

        linkLabels = svg.append('g')
            .selectAll('text')
            .data(data.links)
            .enter().append('text')
            .text(link => link.label)
            .attr('font-size', 10)
            .attr('dx', 0)
            .attr('dy', 0)
            .attr('fill', "#71738F")
            .attr('opacity', edge_label_opacity);

        const simulation = d3.forceSimulation(data.nodes)
            .force('charge', d3.forceManyBody().strength(-400))
            .force('center', d3.forceCenter(width / 2, height / 2))
            .force('link', d3.forceLink()
                .id(node => node.qid)
                .strength(link => link.weight)
                .links(data.links));

        simulation.nodes(data.nodes).on('tick', () => {
            nodeElements
                .attr('cx', node => node.x)
                .attr('cy', node => node.y);
            textElements
                .attr('x', node => node.x)
                .attr('y', node => node.y);
            linkLabels
                .attr('x', link => (link.source.x + link.target.x) / 2)
                .attr('y', link => (link.source.y + link.target.y) / 2)
            linkElements
                .attr('x1', link => link.source.x)
                .attr('y1', link => link.source.y)
                .attr('x2', link => link.target.x)
                .attr('y2', link => link.target.y)
        });

        const dragDrop = d3.drag()
            .on('start', node => {
                node.fx = node.x;
                node.fy = node.y;
            })
            .on('drag', node => {
                simulation.alphaTarget(0.7).restart();
                node.fx = d3.event.x;
                node.fy = d3.event.y;
            })
            .on('end', node => {
                if (!d3.event.active) {
                    simulation.alphaTarget(0);
                }
                node.fx = null;
                node.fy = null;
            });

        function zoomed() {
            nodeElements.attr("transform", d3.event.transform);
            textElements.attr("transform", d3.event.transform);
            linkLabels.attr("transform", d3.event.transform);
            linkElements.attr("transform", d3.event.transform);
        }

        svg.call(d3.zoom()
            .extent([[0, 0], [width, height]])
            .scaleExtent([0.1, 8])
            .on("zoom", zoomed));

        nodeElements.call(dragDrop);
    }

    function updateTable(results) {
        let start = document.getElementById("starting_node").value;
        if (start.indexOf("(") != -1) {
            start = start.substring(0, start.indexOf("(")).trim();
        }

        let data = [];

        for (let i = 0; i < results.length; i++) {
            let qid = instance_node_dict[results[i]["name"]];
            data.push({
                startingNode: start,
                endingNode: results[i]["name"],
                nodeType: concept_node_dict_inverse[results[i]["domain"]],
                pathLength: results[i]["path_length"],
                id: `<a href="https://www.wikidata.org/wiki/${qid}" target="_blank">${qid}</a>`
            });
        }

        table.setData(data, null);

        /*
        let start = document.getElementById("starting_node").value;
        let el = document.getElementById("results_table").querySelector("tbody");

        while (el.childElementCount > 0) {
            el.removeChild(el.childNodes[0]);
        }

        for (let i = 0; i < results.length; i++) {
            let row = document.createElement("tr");
            let template = `<td>${start}</td>
                            <td>${results[i]["name"]}</td>
                            <td>${results[i]["domain"]}</td>
                            <td>${results[i]["path_length"]}</td>`
            row.innerHTML = template;
            el.append(row);
        }*/


    }


</script>

</body>
</html>