{% extends 'base.html' %}

{% block content %}

<body onload="init();">

<main>

    <div class="container my-3">

        <!--Error messages-->
        <div id = "alert-invalid" class="alert alert-warning alert-dismissible d-none">
            <strong>Warning!</strong> Target node is invalid! Please use autocomplete.
            <button type="button" class="close" onclick="$('#alert-invalid').addClass('d-none');">&times;</button>
        </div>
        <div id = "alert-error" class="alert alert-danger alert-dismissible d-none">
            <strong>Error!</strong> There was an internal server error. Please try again.
            <button type="button" class="close" onclick="$('#alert-error').addClass('d-none');">&times;</button>
        </div>

        <div class="row">
            <div class="col-sm-3" id="top">
                <label for="starting_node">Starting Node:</label>
                <input type="text" id="starting_node" placeholder="Metformin..." class="form-control typeahead tt-query" spellcheck="false">
                <small class="form-text text-muted">Use autocomplete to select a source node to form subgraph around.</small>
            </div>
            <div class="col-sm-2">
                <label for="mode">Mode:</label>
                <select id="mode" class="form-control" onchange="onModeChange();">
                    <option value="0">1</option>
                    <option value="1">2</option>
                </select>
                <small class="form-text text-muted">Mode 1 creates subgraphs to node type. Mode 2 creates subgraphs to a specific node.</small>
            </div>
            <div class="col" id = "ending_node_div">
                <label for="ending_node">Ending Node:</label>
                    <select id="ending_node" class="form-control">
                        <option value="None">None</option>
                        <option value="Drug">Drug - Chemical substance having an effect on the body</option>
                        <option value="Chemical Compound">Chemical Compound - Pure chemical substance consisting of two or more different chemical elements</option>
                        <option value="Gene">Gene - Basic physical and functional unit of heredity</option>
                        <option value="Protein">Protein - Biological molecule consisting of chains of amino acid residues</option>
                        <option value="Disease">Disease - Abnormal condition negatively affecting organism </option>
                        <option value="Symptom">Symptm - Departure from normal function or feeling which is noticed by a patient, reflecting the presence of an unusual state, or of a disease; subjective, observed by the patient, cannot be measured directly
                        <option value="Biological Process">Biological Process - Process specifically pertinent to the functioning of integrated living units</option>
                        <option value="Cell Component">Cell Component - Component of a cell </option>
                        <option value="Protein Family">Protein Family - Group of proteins that share a common evolutionary origin, reflected by similarity in their sequence </option>
                        <option value="Protein Domain">Protein Domain - Group of proteins within a protein family that are particularly closely related, typically with shared function</option>
                        <option value="Chromosome">Chromosome - Structure composed of a very long molecule of DNA and associated proteins (e.g. histones) that carries hereditary information</option>
                        <option value="Drug Function">Drug Function - The role of a particular group of drugs</option>
                        <option value="Pharmaceutical Product">Pharmaceutical Product - Qualitative and quantitative composition of a medicinal product in the dose form authorized for administration by a medicines regulatory agency and as represented with any corresponding regulated product information</option>
                        <option value="Anatomical Location">Anatomical Location - Standard terms for unambiguous description of relative placement of body parts</option>
                    </select>
                <small class="form-text text-muted">Select type of ending leaf node.</small>
            </div>
            <div class="col-sm-3 d-none" id="specific_ending_node_div">
                <label for="specific_ending_node">Ending Node:</label>
                <input type="text" id="specific_ending_node" placeholder="type-2 diabetes...." class="form-control typeahead tt-query" spellcheck="false">
                <small class="form-text text-muted">Use autocomplete to select a destination node to create a specific path.</small>
            </div>
            <div class="col-sm-2" id ="hops_div">
                <label for="hops">Hops:</label>
                    <select id="hops" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                <small class="form-text text-muted">Select number of nodes to traverse until reaching ending node type.</small>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary mt-4" id="submit" onclick="onSearch()"><i class="fa fa-spinner fa-spin d-none" id="loader"></i> Search</button>
                <input type="button" class="btn btn-primary mt-4" id="demo" value="Choose for me" onclick="onDemoClick()">
                <small class="form-text text-muted d-none" id="mode-2-warning">Note: Using Mode 2 can take up to several minutes to compute.</small>
            </div>
        </div>
        <div class="row my-4" id="filters">
            <div class="col-2 ml-4">
                <input class="form-check-input" type="checkbox" id="toggle_node_labels" onclick="showNodeLabels()" checked>
                <label for="toggle_node_labels" class="form-check-label">Show Node Labels</label>
            </div>
            <div class="col-2">
                <input class="form-check-input" type="checkbox" id="toggle_edge_labels" onclick="showEdgeLabels()" checked>
                <label for="toggle_edge_labels" class="form-check-label">Show Edge Labels</label>
            </div>
            <div class="col-3">
                <a href="#results" class="btn btn-primary">Show Results Table</a>
            </div>
        </div>

        <h3>Legend</h3>
        <div id="legend" class="my-3"></div>

    </div>

    <div class="border" id="network_viz"></div>

    <div class="container my-3 results-panel" id="results">
        <h1>Results<a href="#top" class="btn btn-primary mx-4">Scroll to Top</a></h1>

        <input class="form-control col-3" type="text" placeholder="Search in table..." id="searchField">
        <div class="table" id="table-sortable"></div>
    </div>
</main>
</body>

{% endblock %}

{% block script %}

<script>
    function httpRequest(url, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                callback(xmlHttp.response);
            }
        }
        xmlHttp.open("GET", url, true);
        xmlHttp.responseType = 'json';
        xmlHttp.send(null);
    }

    let instance_node_dict;
    let concept_node_dict;
    let concept_node_dict_inverse;
    let table;

    function init() {

        // initialize table
        let columns = {
            'src_name': "Source Node",
            'src_domain': "Source Domain",
            'dst_name': "Destination Node",
            'dst_domain': "Destination Domain",
            'path_length': "Path Length"
        };

        table = $('#table-sortable').tableSortable({
            columns: columns,
            rowsPerPage: 10,
            pagination: true,
            searchField: $("#searchField")
        });

        httpRequest("static/autocomplete/all_concept_names_ids.json", function (data) {
            concept_node_dict = data;
            concept_node_dict_inverse = {};
            for (let key in data) {
                concept_node_dict_inverse[data[key]] = key;
            }

            httpRequest("static/autocomplete/all_node_names_ids.json", function (data) {
                instance_node_dict = {};
                let autocomplete_names = [];
                for (let key in data) {
                    instance_node_dict[key] = data[key][0];
                    let domain = concept_node_dict_inverse[data[key][1]];
                    let obj = {
                        name: key,
                        domain: domain
                    };
                    autocomplete_names.push(obj);
                }
                let bhound = new Bloodhound({
                    datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.name); },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: autocomplete_names
                });

                $('#starting_node').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'nodes',
                        source: bhound,
                        display: function(item) {return item.name},
                        templates: {
                            suggestion: function(item) {
                                return `<div>${item.name} <span style="color: ${getNodeColor(item.domain)}">(${item.domain})</span></div>`;
                            }
                        }
                    }
                );

                $('#specific_ending_node').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'nodes',
                        source: bhound,
                        display: function(item) {return item.name},
                        templates: {
                            suggestion: function(item) {
                                return `<div>${item.name} <span style="color: ${getNodeColor(item.domain)}">(${item.domain})</span></div>`;
                            }
                        }
                    }
                );

                // parse url parameters
                const urlParams = new URLSearchParams(window.location.search);
                let start = urlParams.get("start");
                let end = urlParams.get("end");
                let mode = urlParams.get("mode");
                let hops = urlParams.get("hops");

                if (start && end) {
                    document.getElementById("starting_node").value = start;

                    if (mode) {
                        if (mode == 0 || mode == 1) {
                            document.getElementById("mode").value = mode;
                        } else {
                            mode = 1;
                        }

                        onModeChange();
                    }

                    if (mode == 0) {
                        document.getElementById("ending_node").value = end;
                        if (hops) {
                            document.getElementById("hops").value = "2";
                        }
                    } else {
                        document.getElementById("specific_ending_node").value = end;
                    }

                } else {
                    document.getElementById("starting_node").value = "COVID-19";
                    document.getElementById("ending_node").value = "Drug";
                    document.getElementById("hops").value = "2";
                    document.getElementById("mode").value = 0;
                }

            });

            loadLegend();

        });

    }

    function onModeChange() {
        let mode = document.getElementById("mode").value;
        if (mode == 0) {
            $("#ending_node_div").removeClass("d-none");
            $("#hops_div").removeClass("d-none");
            $("#specific_ending_node_div").addClass("d-none");
            $("#mode-2-warning").addClass("d-none");
        } else {
            $("#ending_node_div").addClass("d-none");
            $("#hops_div").addClass("d-none");
            $("#specific_ending_node_div").removeClass("d-none");
            $("#mode-2-warning").removeClass("d-none");
        }
    }

    function loadLegend() {
        let el = document.getElementById('legend');
        const width = el.offsetWidth;
        const height = 100;

        let svg = d3.select("#legend")
            .append("svg")
            .attr("width", width)
            .attr("height", height);

        let nodes = Object.keys(concept_node_dict);
        let chunk_size = width / nodes.length * 2;

        for (let i = 0; i < nodes.length; i++) {
            let x = i * chunk_size;
            let y = 10;
            if (i >= nodes.length / 2) {
                y = 30;
                x = (i - nodes.length / 2) * chunk_size;
            }
            svg.append("circle")
                .attr("r", 10)
                .attr("fill", getNodeColor(nodes[i]))
                .attr("opacity", 0.8)
                .attr("cx", x + 10)
                .attr("cy", y);
            svg.append("text")
                .text(nodes[i])
                .attr('font-size', 10)
                .attr('dx', x + 20)
                .attr('dy', y + 5)
                .attr('fill', getNodeColor(nodes[i]))
                .attr('opacity', 1);
        }

    }

    let node_label_opacity = 1;
    let edge_label_opacity = 1;

    function showNodeLabels() {
        if (document.getElementById("toggle_node_labels").checked) {
            node_label_opacity = 1;
        } else {
            node_label_opacity = 0;
        }

        if (textElements) {
            textElements.attr("opacity", node_label_opacity);
        }
    }

    function showEdgeLabels() {
        if(document.getElementById("toggle_edge_labels").checked) {
            edge_label_opacity = 1;
        } else {
            edge_label_opacity = 0;
        }

        if (linkLabels) {
            linkLabels.attr("opacity", edge_label_opacity);
        }
    }

    let demoIndex = 0;

    function onDemoClick() {
        let test_examples = [
            ["Insulin", "Disease", "3"],
            ["type-2 diabetes", "Drug", "2"],
            ["metformin", "Protein", "3"],
            ["influenza", "Anatomical Location", "3"],
            ["aspirin", "Chromosome", "4"],
        ];

        document.getElementById("starting_node").value = test_examples[demoIndex][0];
        end = document.getElementById("ending_node").value = test_examples[demoIndex][1];
        hops = document.getElementById("hops").value = test_examples[demoIndex][2];
        document.getElementById("mode").value = "0";
        onModeChange();

        onSearch();

        demoIndex = (demoIndex + 1) % test_examples.length;
    }

    function onSearch() {

        $('#loader').removeClass('d-none');

        let start = document.getElementById("starting_node").value;
        let specific_end = document.getElementById("specific_ending_node").value;
        let mode = document.getElementById("mode").value;

        if (!(start in instance_node_dict)) {
            $('#loader').addClass('d-none');
            $('#alert-invalid').removeClass('d-none');
            return;
        }

        if (mode == 1) {
            if (!(specific_end in instance_node_dict)) {
                $('#loader').addClass('d-none');
                $('#alert-invalid').removeClass('d-none');
                return;
            }

            if (specific_end.indexOf("(") != -1) {
                specific_end = specific_end.substring(0, specific_end.indexOf("(")).trim();
            }
        }

        if (start.indexOf("(") != -1) {
            start = start.substring(0, start.indexOf("(")).trim();
        }

        let end = document.getElementById("ending_node").value;
        let hops = document.getElementById("hops").value;
        if (start) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/tool1/search', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    let response = JSON.parse(xhr.response);
                    let results = response["results"];
                    drawGraph(response["graph"]);
                    $('#loader').addClass('d-none');
                    updateTable(results);
                } else if (this.readyState == XMLHttpRequest.DONE) {
                    console.log(this.status);
                    //console.log(xhr.response);
                    $('#alert-error').removeClass('d-none');
                    $('#loader').addClass('d-none');
                }
            };
            let params = "starting_node=" + instance_node_dict[start];

            if (mode == 0) {
                if (end && end in concept_node_dict) {
                    params += "&ending_node=" + concept_node_dict[end];
                }
            } else {
                params += "&ending_node=" + instance_node_dict[specific_end];
            }

            if (hops) {
                params += "&hops=" + hops;
            }
            params += "&mode=" + mode;
            xhr.send(params);
        }
    }

    let textElements, linkLabels;

    function getNodeColor(domain) {
        switch (domain) {
            case "Drug": return "#33D895";
            case "Chemical Compound": return "#33D842";
            case "Pharmaceutical Product": return "#25F51C";
            case "Drug Function": return "#11C621";

            case "Molecular Function": return "#D54517";
            case "Biological Process": return "#D86827";
            case "Cell Component": return "#FFCD00";
            case "Anatomical Location": return "#F6E599";
            case "Gene Ontology ID": return "#D84527";

            case "Protein": return "#BE27D8";
            case "Protein Family": return "#D8279A";
            case "Protein Superfamily": return "#D827C6";
            case "Protein Domain": return "#D8276E";

            case "Gene": return "#2781D8";
            case "Chromosome": return "#2729D8";

            case "Disease": return "#D6D827";
            case "Symptom": return "#A3A458";
            case "ICD10": return "#A49258";

            default: return "#9092B0";
        }
    }

    function drawGraph(data) {
        const width = window.innerWidth;
        const height = 700;

        let el = document.getElementById("network_viz");
        while (el.childElementCount > 0) {
            el.removeChild(el.childNodes[0]);
        }

        const svg = d3.select('#network_viz')
            .append('svg')
            .attr('width', width)
            .attr('height', height);

        function getColor(node) {
            return getNodeColor(node.domain);
        }

        /*
        var mouseover = function (d) {
            d3.select(this).attr("r", 30);
        };

        var mouseleave = function (d) {
            d3.select(this)
                .transition()
                .duration(200)
                .attr("r", 20);
        };*/

        function getSize(node) {

            let weight = 1;
            switch (node.domain) {
                case "Drug": weight = 1; break;
                case "Chemical Compound": weight = 1; break;
                case "Pharmaceutical Product": weight = 1; break;
                case "Drug Function": weight = 1; break;

                case "Molecular Function": weight = 0.03; break;
                case "Biological Process": weight = 1; break;
                case "Cell Component": weight = 0.03; break;
                case "Anatomical Location": weight = 0.5; break;
                case "Gene Ontology ID": weight = 1; break;

                case "Protein": weight = 1; break;
                case "Protein Family": weight = 0.1; break;
                case "Protein Superfamily": weight = 0.1; break;
                case "Protein Domain": weight = 0.1; break;

                case "Gene": weight = 1; break;
                case "Chromosome": weight = 0.01; break;

                case "Disease": weight = 0.5; break;
                case "Symptom": weight = 1; break;
                case "ICD10": weight = 1; break;
            }
            return Math.min(Math.max(node.rank * weight * 1000000, 6) , 100);
            //return (node.rank + 2) * 3;
        }

        const nodeElements = svg.append('g')
            .selectAll('circle')
            .data(data.nodes)
            .enter().append('circle')
            .attr('r', getSize)
            .attr('fill', getColor)
            .attr('opacity', 0.8);
            /*.on("mouseover", mouseover)
            .on("mouseleave", mouseleave);*/

        textElements = svg.append('g')
            .selectAll('text')
            .data(data.nodes)
            .enter().append('text')
            .text(node => node.label)
            .attr('font-size', 15)
            .attr('dx', 20)
            .attr('dy', 4)
            .attr('fill', getNodeColor)
            .attr('opacity', node_label_opacity);

        const linkElements = svg.append('g')
            .selectAll('line')
            .data(data.links)
            .enter().append('line')
            .attr('stroke-width', 1)
            .attr('stroke', '#AEB1DD')
            .attr('opacity', 0.5);

        linkLabels = svg.append('g')
            .selectAll('text')
            .data(data.links)
            .enter().append('text')
            .text(link => link.label)
            .attr('font-size', 10)
            .attr('dx', 0)
            .attr('dy', 0)
            .attr('fill', "#71738F")
            .attr('opacity', edge_label_opacity);

        const simulation = d3.forceSimulation(data.nodes)
            .force('charge', d3.forceManyBody().strength(-400))
            .force('center', d3.forceCenter(width / 2, height / 2))
            .force('link', d3.forceLink()
                .id(node => node.qid)
                .strength(link => link.weight)
                .links(data.links));

        simulation.nodes(data.nodes).on('tick', () => {
            nodeElements
                .attr('cx', node => node.x)
                .attr('cy', node => node.y);
            textElements
                .attr('x', node => node.x)
                .attr('y', node => node.y);
            linkLabels
                .attr('x', link => (link.source.x + link.target.x) / 2)
                .attr('y', link => (link.source.y + link.target.y) / 2)
            linkElements
                .attr('x1', link => link.source.x)
                .attr('y1', link => link.source.y)
                .attr('x2', link => link.target.x)
                .attr('y2', link => link.target.y)
        });

        const dragDrop = d3.drag()
            .on('start', node => {
                node.fx = node.x;
                node.fy = node.y;
            })
            .on('drag', node => {
                simulation.alphaTarget(0.7).restart();
                node.fx = d3.event.x;
                node.fy = d3.event.y;
            })
            .on('end', node => {
                if (!d3.event.active) {
                    simulation.alphaTarget(0);
                }
                node.fx = null;
                node.fy = null;
            });

        function zoomed() {
            nodeElements.attr("transform", d3.event.transform);
            textElements.attr("transform", d3.event.transform);
            linkLabels.attr("transform", d3.event.transform);
            linkElements.attr("transform", d3.event.transform);
        }

        svg.call(d3.zoom()
            .extent([[0, 0], [width, height]])
            .scaleExtent([0.1, 8])
            .on("zoom", zoomed));

        nodeElements.call(dragDrop);
    }

    function updateTable(results) {

        let data = [];

        for (let i = 0; i < results.length; i++) {
            data.push({
                'src_name': `<a href="https://www.wikidata.org/wiki/${instance_node_dict[results[i]["src_name"]]}" target="_blank">${results[i]["src_name"]}</a>`,
                'src_domain': results[i]["src_domain"],
                'dst_name': `<a href="https://www.wikidata.org/wiki/${instance_node_dict[results[i]["dst_name"]]}" target="_blank">${results[i]["dst_name"]}</a>`,
                'dst_domain': results[i]["dst_domain"],
                'path_length': results[i]["path_length"]
            });
        }

        table.refresh(true);
        table.setData(data, null);

        /*
        let start = document.getElementById("starting_node").value;
        let el = document.getElementById("results_table").querySelector("tbody");

        while (el.childElementCount > 0) {
            el.removeChild(el.childNodes[0]);
        }

        for (let i = 0; i < results.length; i++) {
            let row = document.createElement("tr");
            let template = `<td>${start}</td>
                            <td>${results[i]["name"]}</td>
                            <td>${results[i]["domain"]}</td>
                            <td>${results[i]["path_length"]}</td>`
            row.innerHTML = template;
            el.append(row);
        }*/


    }
</script>

{% endblock %}