{% extends 'base.html' %}

{% block content %}

<body onload="init();">

<main>
    <div class="container my-3">

        <!--Error messages-->
        <div id ="alert-empty" class="alert alert-warning alert-dismissible d-none">
            <strong>Warning!</strong> You have no selected nodes to search. Please click Add Target Node.
            <button type="button" class="close" onclick="$('#alert-empty').addClass('d-none');">&times;</button>
        </div>
        <div id = "alert-invalid" class="alert alert-warning alert-dismissible d-none">
            <strong>Warning!</strong> Target node is invalid! Please use autocomplete.
            <button type="button" class="close" onclick="$('#alert-invalid').addClass('d-none');">&times;</button>
        </div>
        <div id = "alert-concept" class="alert alert-danger alert-dismissible d-none">
            <strong>Error!</strong> Selected nodes have different types.
            <button type="button" class="close" onclick="$('#alert-concept').addClass('d-none');">&times;</button>
        </div>
        <div id = "alert-error" class="alert alert-danger alert-dismissible d-none">
            <strong>Error!</strong> There was an internal server error. Please try again.
            <button type="button" class="close" onclick="$('#alert-error').addClass('d-none');">&times;</button>
        </div>


        <div class="row">

              <div class="col-3" id="top">
                <label for="input_mode">Select Source Nodes:</label>
                <input type="text" placeholder="Metformin..." class="typeahead tt-query form-control" spellcheck="false" id="input_node">
                <small class="form-text text-muted">Use autocomplete to select target nodes to find similar nodes. You can select up to 20 target nodes.</small>
              </div>

              <div class="col-4">
                <input type="button" class="btn btn-primary mt-4" id="add_target" value="Add Source Node" onclick="add_target_node()">
                <input type="button" class="btn btn-primary mt-4" id="demo" value="Choose for me" onclick="onDemoClick()">
              </div>

              <div class="col-2">
                <label for="input_mode">Mode:</label>
                <select class="form-control" id="input_mode">
                    <option value="0">Mode 1</option>
                    <option value="1">Mode 2</option>
                </select>
                <small class="form-text text-muted">Mode 1 finds similar nodes to each target node. Mode 2 finds similar nodes to all target nodes.</small>
              </div>

              <div class="col-3">
                  <label>Number of Results (K): </label>
                    <select class="form-control" id="input_k">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                  <small class="form-text text-muted">Mode 1: K = # similar nodes found for each target.</small>
                  <small class="form-text text-muted">Mode 2: K = total # similar nodes found.</small>
              </div>
        </div>

        <div id="input-list"></div>

        <div class="row">
            <button type="button" class="btn btn-primary ml-3 mt-2" onclick="onSearch()"><i class="fa fa-spinner fa-spin d-none" id="loader"></i> Search</button>
            <button class="btn btn-primary ml-3 mt-2" onclick="zoomIn()">Zoom In</button>
            <button class="btn btn-primary ml-3 mt-2" onclick="zoomOut()">Zoom Out</button>
        </div>
        <p class="form-text text-muted" id="zoom_text">Zoom Scale: 0.1x</p>
    </div>


    <div class="container">
        <div id="my_dataviz" style="text-align: left"></div>
    </div>

    <div class="container my-3">

        <div class="results-panel">
            <h1>Results</h1>
            <input class="form-control col-3" type="text" placeholder="Search in table..." id="searchField">
            <div id="table-sortable"></div>
        </div>

    </div>
</main>

</body>

{% endblock %}

{% block script %}

<script>

    let target_node_index = 0;

    function add_target_node() {
        let list = document.getElementById("input-list");
        let input = document.getElementById("input_node");
        let entry = input.value;
        input.value = "";

        if (! (entry in instance_node_dict)) {
            $('#alert-invalid').removeClass('d-none');
            return;
        }

        let template =
            `
              <form class="form-inline">
              <input type="button" class="btn btn-primary ml-3 mr-2" value="Delete Target Node" onclick="del_target_node(${target_node_index})">
              <div class="form-group mb-2">
              <input type="text" readonly class="form-control-plaintext" id="node_${target_node_index}" value="${entry}">
              </div>
              </form>
            `;

        let el = document.createElement("div");
        el.setAttribute("id", "input_" + target_node_index);
        el.setAttribute("class", "row");
        el.innerHTML = template;

        list.appendChild(el);
        target_node_index++;
    }

    function del_target_node(index) {
        let list = document.getElementById("input-list");
        list.removeChild(document.getElementById("input_" + index));
    }

    function httpRequest(url, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                callback(xmlHttp.response);
            }
        }
        xmlHttp.open("GET", url, true);
        xmlHttp.responseType = 'json';
        xmlHttp.send(null);
    }

    let autocomplete_data = [];
    let instance_node_dict;
    let instance_node_dict_inverse;
    let concept_node_dict;
    let concept_node_dict_inverse;
    let instance_concept_dict;
    let table;

    function init() {

        // default k
        document.getElementById("input_k").value = 10;

        // initialize table
        let columns = {
            "label": "Node Name",
            "sim_score": "Similarity Score",
            "explore": "Explore",
        };

        table = $('#table-sortable').tableSortable({
            columns: columns,
            rowsPerPage: 10,
            pagination: true,
            searchField: $("#searchField")
        });

        drawScatterPlot([]);

        httpRequest("static/autocomplete/all_concept_names_ids.json", function (data) {
            concept_node_dict = data;
            concept_node_dict_inverse = {};
            for (let key in data) {
                concept_node_dict_inverse[data[key]] = key;
            }

            httpRequest("static/autocomplete/all_node_names_ids.json", function (data) {
                instance_node_dict = {};
                instance_concept_dict = {};
                instance_node_dict_inverse = {};
                autocomplete_data = [];
                for (let key in data) {
                    instance_node_dict[key] = data[key][0];
                    instance_concept_dict[key] = data[key][1];
                    instance_node_dict_inverse[data[key][0]] = key;
                    let domain = concept_node_dict_inverse[data[key][1]];
                    let obj = {
                        name: key,
                        domain: domain
                    };
                    autocomplete_data.push(obj);
                }
                let bhound = new Bloodhound({
                    datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.name); },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: autocomplete_data
                });

                $('#input_node').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'nodes',
                        source: bhound,
                        display: function(item) {return item.name},
                        templates: {
                            suggestion: function(item) {
                                return `<div>${item.name} <span style="color: ${getNodeColor(item.domain)}">(${item.domain})</span></div>`;
                            }
                        }
                    }
                );

            });

        });
    }

    function onDemoClick() {
        let test_examples = ['dextroamphetamine', 'D-methamphetamine', 'DL-amphetamine'];
        let input = document.getElementById("input_node");
        for (let i = 0; i < test_examples.length; i++) {
            input.value = test_examples[i];
            add_target_node();
        }
        document.getElementById("input_mode").value = 1;
        document.getElementById("input_k").value = 5;
        onSearch();
    }

    function getNodeColor(domain) {
        switch (domain) {
            case "Drug": return "#33D895";
            case "Chemical Compound": return "#33D842";
            case "Pharmaceutical Product": return "#25F51C";
            case "Drug Function": return "#11C621";

            case "Molecular Function": return "#D54517";
            case "Biological Process": return "#D86827";
            case "Cell Component": return "#FFCD00";
            case "Anatomical Location": return "#F6E599";
            case "Gene Ontology ID": return "#D84527";

            case "Protein": return "#BE27D8";
            case "Protein Family": return "#D8279A";
            case "Protein Superfamily": return "#D827C6";
            case "Protein Domain": return "#D8276E";

            case "Gene": return "#2781D8";
            case "Chromosome": return "#2729D8";

            case "Disease": return "#D6D827";
            case "Symptom": return "#A3A458";
            case "ICD10": return "#A49258";
            default: return "#9092B0";
        }
    }

    function onSearch() {

        $('#loader').removeClass('d-none');

        let elements = document.querySelectorAll("#input-list input[type='text'][id]");
        let targets = [];
        let conceptType = null;
        for (let i = 0; i < elements.length; i++) {
            let val = elements[i].value;
            if (val) {
                if (val.indexOf("(") != -1) {
                    val = val.substring(0, val.indexOf("(")).trim();
                }

                let currentConcept = instance_concept_dict[val];

                if (!conceptType) {
                    conceptType = currentConcept;
                } else {
                    if (conceptType != currentConcept) {
                        $("#alert-concept").removeClass("d-none");
                        $('#loader').addClass('d-none');
                        return;
                    }
                }

                targets.push(instance_node_dict[val]);
            }
        }
        if (targets.length > 0) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/tool2/search', true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    let response = JSON.parse(xhr.response);
                    for (let i = 0; i < response.length; i++) {
                        response[i].pc1 = response[i].pc1.toFixed(6);
                        response[i].pc2 = response[i].pc2.toFixed(6);
                        response[i].sim_score = response[i].sim_score.toFixed(4);
                    }
                    currentData = response;
                    drawScatterPlot(response);
                    $('#loader').addClass('d-none');
                    updateTable(response);
                } else if (this.readyState == XMLHttpRequest.DONE) {
                    console.log(this.status);
                    //console.log(xhr.response);
                    $('#alert-error').removeClass('d-none');
                    $('#loader').addClass('d-none');
                }
            };
            let data = {
                "targets": targets,
                "mode": document.getElementById("input_mode").value,
                "k": document.getElementById("input_k").value,
                "concept": conceptType
            };
            xhr.send(JSON.stringify(data));
        } else {
            $('#alert-empty').removeClass('d-none');
            $('#loader').addClass('d-none');
        }
    }

    let axisRange = 0.1;
    let currentData = [];

    function zoomIn() {
        axisRange -= 0.01;
        document.getElementById("zoom_text").innerHTML = `Zoom Scale: ${axisRange.toFixed(3)}x`;
        drawScatterPlot(currentData);
    }

    function zoomOut() {
        axisRange += 0.01;
        document.getElementById("zoom_text").innerHTML = `Zoom Scale: ${axisRange.toFixed(3)}x`;
        drawScatterPlot(currentData);
    }

    function drawScatterPlot(data) {

        let margin = {top: 10, right: 50, bottom: 30, left: 50};
        const height = 500 - margin.top - margin.bottom;
        const width = height;
        // window.windowWidth

        let el = document.getElementById("my_dataviz");
        while (el.childElementCount > 0) {
            el.removeChild(el.childNodes[0]);
        }

        // append the svg object to the body of the page
        var svg = d3.select("#my_dataviz")
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // Add X axis
        var x = d3.scaleLinear()
            .domain([-axisRange, axisRange])
            .range([0, width]);
        let x_axis = svg.append("g")
            .attr("transform", "translate(0," + (height - margin.bottom) + ")")
            .call(d3.axisBottom(x).ticks(1));
        svg.append("text")
            .attr("text-anchor", "end")
            .attr("x", 180)
            .attr("y", height - 15)
            .text("Principal Component 1");

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([-axisRange, axisRange])
            .range([height, 0]);
        let y_axis = svg.append("g")
            .call(d3.axisLeft(y).ticks(1));
        svg.append("text")
            .attr("text-anchor", "end")
            .attr("x", -height + 205)
            .attr("y", -3)
            .attr("transform", "rotate(-90)")
            .text("Principal Component 2");

        // Add a tooltip div. Here I define the general feature of the tooltip: stuff that do not depend on the data point.
        // Its opacity is set to 0: we don't see it by default.
        var tooltip = d3.select("#my_dataviz")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("background-color", "white")
            .style("border", "solid")
            .style("border-width", "1px")
            .style("border-radius", "5px")
            .style("padding", "10px");


        // A function that change this tooltip when the user hover a point.
        // Its opacity is set to 1: we can now see it. Plus it set the text and position of tooltip depending on the datapoint (d)
        var mouseover = function (d) {
            tooltip.style("opacity", 1);
            d3.select(this).attr("r", 10);
        };

        var mousemove = function (d) {
            tooltip
                .html(d.id + ": " + instance_node_dict_inverse[d.id] + " (" + d.pc1 + ", " + d.pc2 + ")")
                .style("left", (d3.mouse(this)[0] + 30) + "px") // It is important to put the +90: other wise the tooltip is exactly where the point is an it creates a weird effect
                .style("top", (d3.mouse(this)[1] + 160) + "px")
        };

        // A function that change this tooltip when the leaves a point: just need to set opacity to 0 again
        var mouseleave = function (d) {

            tooltip.style("opacity", 0);

            d3.select(this)
                .transition()
                .duration(200)
                .attr("r", 7);
        };

        // Add dots
        let nodeElements = svg.append('g')
            .selectAll("dot")
            .data(data)
            .enter()
            .append("circle")
            .attr("cx", function (d) {
                return x(d.pc1);
            })
            .attr("cy", function (d) {
                return y(d.pc2);
            })
            .attr("r", 7)
            .style("fill", function(d) {

                switch(d.input_index) {
                    case 0: return "#69b3a2";
                    case 1: return "#9F53E2";
                    case 2: return "#E2AA53";
                    case 3: return "#53E0E2";
                    case 4: return "#E25355";
                    case 5: return "#DEE253";
                    default: return "#595968";
                }
            })
            .style("opacity", function(d) {
                if (d.input_node) {
                    return 1;
                } else {
                    return 0.3;
                }
            })
            .style("stroke", "white")
            .on("mouseover", mouseover)
            .on("mousemove", mousemove)
            .on("mouseleave", mouseleave)

        /*function zoomed() {
            nodeElements.attr("transform", d3.event.transform);
            x.domain([-axisRange--, axisRange++]);
            x_axis.call(d3.axisBottom(x).ticks(1));
        }

        svg.call(d3.zoom()
            .extent([[0, 0], [width, height]])
            .scaleExtent([0.1, 8])
            .on("zoom", zoomed));*/

    }

    function updateTable(results) {
        let data = [];

        let start = document.querySelectorAll("#input-list input[type='text'][id]")[0].value;

        for (let i = 0; i < results.length; i++) {
            let ending = instance_node_dict_inverse[results[i]["id"]];
            data.push({
                label: `<a href="https://www.wikidata.org/wiki/${results[i]["id"]}" target="_blank">${ending}</a>`,
                sim_score: results[i]["sim_score"],
                explore: `<a class="btn btn-primary" href="/tool1?start=${start}&end=${ending}&mode=1" target="_blank">See Connecting Path</a>`
            });
        }

        table.refresh(true);
        table.setData(data, null);

        /*let el = document.getElementById("results_table").querySelector("tbody");

        while (el.childElementCount > 0) {
            el.removeChild(el.childNodes[0]);
        }

        for (let i = 0; i < results.length; i++) {
            let row = document.createElement("tr");
            let template = `<td>${results[i]["label"]}</td>
                            <td>${results[i]["sim_score"]}</td>`
            row.innerHTML = template;
            el.append(row);
        }*/
    }

</script>
{% endblock %}